torch>=2.5.0
torchvision>=0.20.0
streamlit>=1.31.0
supervision>=0.23.0
opencv-python-headless>=4.10.0
numpy>=1.26.0
scikit-learn>=1.5.0
pandas>=2.2.0
transformers>=4.47.0
umap-learn>=0.5.6
Pillow>=10.4.0
tqdm>=4.66.0
roboflow>=1.1.50
git+https://github.com/roboflow/sports.git
